* {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

body {
	font-family: "Microsoft Yahei";
	color: #14191e;
}

.main {
	width: 1200px;
	height: 460px;
	margin: 30px auto;
	overflow: hidden;
	position: relative;
}

.banner {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.banner-slide {
	width: 1200px;
	height: 460px;
	background-repeat: no-repeat;
	position: absolute;
	display: none;
}

.slide-active {
	display: block;
}

.slide1 {
	background-image: url(../img/bg1.jpg);
}

.slide2 {
	background-image: url(../img/bg2.jpg);
}

.slide3 {
	background-image: url(../img/bg3.jpg);
}

.button {
	position: absolute;
	width: 40px;
	height: 80px;
	left: 244px;
	top: 50%;
	margin-top: -40px;
	background: url(../img/arrow.png) no-repeat center center;
}
.next {
	left: auto;
	right: 0;
}
.prev {
	transform: rotate(180deg);
}
.button:hover {
	background-color: #ccc;
	opacity: .8;
	filter: alpha(opacity=80);
}

.dots {
	position: absolute;
	right: 10px;
	bottom: 24px;
	text-align: right;
}
.dots span {
	display: inline-block;
	width: 12px;
	height: 12px;
	line-height: 12px;
	border-radius: 50%;
	background: rgba(7,17,27,.4);
	box-shadow: 0 0 0 2px rgba(255,255,255,.8) inset;
	margin-right: 8px;
	cursor: pointer;
}
.dots .active {
	box-shadow: 0 0 0 2px rgba(7,17,27,.4) inset;
	background: #fff;
}