/* All Tags */
* { margin: 0; padding: 0; border: none; }

/* 背景 */
.sky { height: 40vh; background: -webkit-linear-gradient(rgb(196, 228, 253),rgb(255,255,255)); background: -moz-linear-gradient(rgb(196, 228, 253),rgb(255,255,255)); background: -ms-linear-gradient(rgb(196, 228, 253),rgb(255,255,255)); background: -o-linear-gradient(rgb(196, 228, 253),rgb(255,255,255)); background: linear-gradient(rgb(196, 228, 253),rgb(255,255,255)); }
.grass { height: 60vh;  background: -webkit-linear-gradient(rgb(255,255,255),rgb(148, 190, 89)); background: -moz-linear-gradient(rgb(255,255,255),rgb(148, 190, 89)); background: -ms-linear-gradient(rgb(255,255,255),rgb(148, 190, 89)); background: -o-linear-gradient(rgb(255,255,255),rgb(148, 190, 89)); background: linear-gradient(rgb(255,255,255),rgb(148, 190, 89)); }

/* 绘制云朵 */
.sky > .cloud { width: 100px; height: 100px; background: #fff; border-radius: 50px; position: relative; top: 20px; }
.sky > .cloud::before,
.sky > .cloud::after,
.sky > .cloud > div:nth-child(1),
.sky > .cloud > div:nth-child(2) { width: 60px; height: 60px; background: #fff; border-radius: 50%; position: absolute; }
.sky > .cloud::before { display: block; content: ''; top: 35px; right: -15px; }
.sky > .cloud::after { display: block; content: ''; top: 20px; left: -40px; }
.sky > .cloud > div:nth-child(1) { top: 40px; left: -60px; }
.sky > .cloud > div:nth-child(2) { top: 45px; left: -20px; }

/* 设置云朵大小和不同位置 */
.sky > .cloud1 { transform: translate(600px,10px) scale(.8); }
.sky > .cloud2 { transform: translate(720px,-30px) scale(.4); }
.sky > .cloud3 { transform: translate(400px,-220px) scale(.6); }
.sky > .cloud4 { transform: translate(480px,-230px) scale(.6); }
.sky > .cloud5 { transform: translate(900px,-420px) scale(.6); }